<!DOCTYPE html>
<html lang="en">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {{ partial "head.html" . }}
  <body>
    <div id="root">
      {{ partial "header.html" . }}
      <div id="content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
